USE [MedicamentosDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPrescripcionPorId]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_ObtenerPrescripcionPorId]
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarResidente]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_ModificarResidente]
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarPrescripcion]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_ModificarPrescripcion]
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_LoginUsuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_InformeResidentePrescripciones]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_InformeResidentePrescripciones]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarResidente]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_BuscarResidente]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarPrescripcionPorResidente]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_BuscarPrescripcionPorResidente]
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrarResidente]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_BorrarResidente]
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrarPrescripcion]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_BorrarPrescripcion]
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaResidente]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_AltaResidente]
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaPrescripcion]    Script Date: 06/01/2026 18:47:03 ******/
DROP PROCEDURE IF EXISTS [dbo].[sp_AltaPrescripcion]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT IF EXISTS [FK__Usuario__IdRol__47DBAE45]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Prescripcion]') AND type in (N'U'))
ALTER TABLE [dbo].[Prescripcion] DROP CONSTRAINT IF EXISTS [FK__Prescripc__IdRes__3E52440B]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT IF EXISTS [DF__Usuario__Estado__49C3F6B7]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
ALTER TABLE [dbo].[Usuario] DROP CONSTRAINT IF EXISTS [DF__Usuario__FechaAl__48CFD27E]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rol]') AND type in (N'U'))
ALTER TABLE [dbo].[Rol] DROP CONSTRAINT IF EXISTS [DF__Rol__Estado__25869641]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rol]') AND type in (N'U'))
ALTER TABLE [dbo].[Rol] DROP CONSTRAINT IF EXISTS [DF__Rol__FechaCreaci__24927208]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Residente]') AND type in (N'U'))
ALTER TABLE [dbo].[Residente] DROP CONSTRAINT IF EXISTS [DF__Residente__Estad__2F10007B]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Residente]') AND type in (N'U'))
ALTER TABLE [dbo].[Residente] DROP CONSTRAINT IF EXISTS [DF__Residente__Fecha__2E1BDC42]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Prescripcion]') AND type in (N'U'))
ALTER TABLE [dbo].[Prescripcion] DROP CONSTRAINT IF EXISTS [DF__Prescripc__Estad__403A8C7D]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Prescripcion]') AND type in (N'U'))
ALTER TABLE [dbo].[Prescripcion] DROP CONSTRAINT IF EXISTS [DF__Prescripc__Fecha__3F466844]
GO
/****** Object:  Index [IX_Residente_NumeroHabitacion]    Script Date: 06/01/2026 18:47:03 ******/
DROP INDEX IF EXISTS [IX_Residente_NumeroHabitacion] ON [dbo].[Residente]
GO
/****** Object:  Index [IX_Prescripcion_IdResidente]    Script Date: 06/01/2026 18:47:03 ******/
DROP INDEX IF EXISTS [IX_Prescripcion_IdResidente] ON [dbo].[Prescripcion]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/01/2026 18:47:03 ******/
DROP TABLE IF EXISTS [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 06/01/2026 18:47:03 ******/
DROP TABLE IF EXISTS [dbo].[Rol]
GO
/****** Object:  Table [dbo].[Residente]    Script Date: 06/01/2026 18:47:03 ******/
DROP TABLE IF EXISTS [dbo].[Residente]
GO
/****** Object:  Table [dbo].[Prescripcion]    Script Date: 06/01/2026 18:47:03 ******/
DROP TABLE IF EXISTS [dbo].[Prescripcion]
GO
USE [master]
GO
/****** Object:  Database [MedicamentosDB]    Script Date: 06/01/2026 18:47:03 ******/
DROP DATABASE IF EXISTS [MedicamentosDB]
GO
/****** Object:  Database [MedicamentosDB]    Script Date: 06/01/2026 18:47:03 ******/
CREATE DATABASE [MedicamentosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicamentosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.GONZALOCANO_2025\MSSQL\DATA\MedicamentosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedicamentosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.GONZALOCANO_2025\MSSQL\DATA\MedicamentosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicamentosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicamentosDB]
GO
/****** Object:  Table [dbo].[Prescripcion]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescripcion](
	[IdPrescripcion] [int] IDENTITY(1,1) NOT NULL,
	[IdResidente] [int] NOT NULL,
	[NombreMedicamento] [nvarchar](200) NOT NULL,
	[Laboratorio] [nvarchar](150) NULL,
	[Pautas] [nvarchar](400) NULL,
	[Dosis] [nvarchar](100) NULL,
	[Frecuencia] [nvarchar](100) NULL,
	[FechaAlta] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[IdUsuarioModificacion] [int] NULL,
	[Estado] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrescripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Residente]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Residente](
	[IdResidente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](120) NOT NULL,
	[Apellidos] [nvarchar](150) NULL,
	[NumeroHabitacion] [nvarchar](20) NULL,
	[FechaEntrada] [date] NULL,
	[FechaSalida] [date] NULL,
	[MotivoSalida] [nvarchar](250) NULL,
	[FechaAlta] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[IdUsuarioModificacion] [int] NULL,
	[Estado] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdResidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](100) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[Estado] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Alias] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](50) NOT NULL,
	[IdRol] [int] NOT NULL,
	[FechaAlta] [datetime2](7) NOT NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[IdUsuarioModificacion] [int] NULL,
	[Estado] [char](1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](150) NULL,
	[Email] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Prescripcion] ON 

INSERT [dbo].[Prescripcion] ([IdPrescripcion], [IdResidente], [NombreMedicamento], [Laboratorio], [Pautas], [Dosis], [Frecuencia], [FechaAlta], [FechaModificacion], [IdUsuarioModificacion], [Estado]) VALUES (1, 1, N'Paracetamol', N'Bayer', N'Tomar 1 cada 8 horas', N'500mg', N'Cada 8h', CAST(N'2025-11-22T17:59:14.3129077' AS DateTime2), NULL, NULL, N'A')
INSERT [dbo].[Prescripcion] ([IdPrescripcion], [IdResidente], [NombreMedicamento], [Laboratorio], [Pautas], [Dosis], [Frecuencia], [FechaAlta], [FechaModificacion], [IdUsuarioModificacion], [Estado]) VALUES (2, 1, N'Vitamina C', N'GSK', N'2 comprimido diario', N'1000mg', N'Diario', CAST(N'2025-11-22T17:59:14.3129077' AS DateTime2), CAST(N'2025-11-28T16:07:09.3001554' AS DateTime2), 1, N'A')
INSERT [dbo].[Prescripcion] ([IdPrescripcion], [IdResidente], [NombreMedicamento], [Laboratorio], [Pautas], [Dosis], [Frecuencia], [FechaAlta], [FechaModificacion], [IdUsuarioModificacion], [Estado]) VALUES (3, 2, N'Ibuprofeno', N'Pfizer', N'Tomar 1 cada 12 horas', N'400mg', N'Cada 12h', CAST(N'2025-11-22T17:59:14.3129077' AS DateTime2), NULL, NULL, N'A')
SET IDENTITY_INSERT [dbo].[Prescripcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Residente] ON 

INSERT [dbo].[Residente] ([IdResidente], [Nombre], [Apellidos], [NumeroHabitacion], [FechaEntrada], [FechaSalida], [MotivoSalida], [FechaAlta], [FechaModificacion], [IdUsuarioModificacion], [Estado]) VALUES (1, N'Pepa', N'Perez', N'101A', CAST(N'2025-01-10' AS Date), NULL, NULL, CAST(N'2025-11-22T17:59:14.3016292' AS DateTime2), CAST(N'2025-11-27T19:31:49.7688874' AS DateTime2), 1, N'A')
INSERT [dbo].[Residente] ([IdResidente], [Nombre], [Apellidos], [NumeroHabitacion], [FechaEntrada], [FechaSalida], [MotivoSalida], [FechaAlta], [FechaModificacion], [IdUsuarioModificacion], [Estado]) VALUES (2, N'Juan', N'Lopez', N'102B', CAST(N'2025-02-15' AS Date), NULL, NULL, CAST(N'2025-11-22T17:59:14.3016292' AS DateTime2), NULL, NULL, N'A')
INSERT [dbo].[Residente] ([IdResidente], [Nombre], [Apellidos], [NumeroHabitacion], [FechaEntrada], [FechaSalida], [MotivoSalida], [FechaAlta], [FechaModificacion], [IdUsuarioModificacion], [Estado]) VALUES (3, N'Maria', N'Fernandez', N'103C', CAST(N'2025-03-01' AS Date), NULL, NULL, CAST(N'2025-11-22T17:59:14.3016292' AS DateTime2), NULL, NULL, N'A')
SET IDENTITY_INSERT [dbo].[Residente] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Descripcion], [FechaCreacion], [Estado]) VALUES (1, N'Supervisor', CAST(N'2025-11-22T17:54:22.0304847' AS DateTime2), N'A')
INSERT [dbo].[Rol] ([IdRol], [Descripcion], [FechaCreacion], [Estado]) VALUES (2, N'Auxiliar', CAST(N'2025-11-22T17:54:22.0304847' AS DateTime2), N'A')
INSERT [dbo].[Rol] ([IdRol], [Descripcion], [FechaCreacion], [Estado]) VALUES (3, N'Medico', CAST(N'2025-11-22T17:54:22.0304847' AS DateTime2), N'A')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Alias], [Clave], [IdRol], [FechaAlta], [FechaModificacion], [IdUsuarioModificacion], [Estado], [Nombre], [Apellidos], [Email]) VALUES (1, N'a', N'1', 1, CAST(N'2025-11-22T18:30:19.8657235' AS DateTime2), NULL, NULL, N'A', N'Administrador', N'Sistema', N'a@residencia.local')
INSERT [dbo].[Usuario] ([IdUsuario], [Alias], [Clave], [IdRol], [FechaAlta], [FechaModificacion], [IdUsuarioModificacion], [Estado], [Nombre], [Apellidos], [Email]) VALUES (2, N'b', N'2', 2, CAST(N'2025-11-28T17:14:28.4633333' AS DateTime2), NULL, NULL, N'A', N'NombrePrueba', N'ApellidoPrueba', N'correo@ejemplo.com')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  Index [IX_Prescripcion_IdResidente]    Script Date: 06/01/2026 18:47:03 ******/
CREATE NONCLUSTERED INDEX [IX_Prescripcion_IdResidente] ON [dbo].[Prescripcion]
(
	[IdResidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Residente_NumeroHabitacion]    Script Date: 06/01/2026 18:47:03 ******/
CREATE NONCLUSTERED INDEX [IX_Residente_NumeroHabitacion] ON [dbo].[Residente]
(
	[NumeroHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prescripcion] ADD  DEFAULT (sysutcdatetime()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Prescripcion] ADD  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[Residente] ADD  DEFAULT (sysutcdatetime()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Residente] ADD  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (sysutcdatetime()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[Prescripcion]  WITH CHECK ADD FOREIGN KEY([IdResidente])
REFERENCES [dbo].[Residente] ([IdResidente])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaPrescripcion]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------
-- 6️⃣ Alta Prescripcion
-----------------------------
CREATE PROCEDURE [dbo].[sp_AltaPrescripcion]
    @IdResidente INT,
    @NombreMedicamento NVARCHAR(100),
    @Laboratorio NVARCHAR(100),
    @Pautas NVARCHAR(250),
    @Dosis NVARCHAR(50),
    @Frecuencia NVARCHAR(50),
    @IdUsuarioModificacion INT
AS
BEGIN
    INSERT INTO dbo.Prescripcion (IdResidente, NombreMedicamento, Laboratorio, Pautas, Dosis, Frecuencia, FechaAlta, FechaModificacion, IdUsuarioModificacion, Estado)
    VALUES (@IdResidente, @NombreMedicamento, @Laboratorio, @Pautas, @Dosis, @Frecuencia, SYSUTCDATETIME(), SYSUTCDATETIME(), @IdUsuarioModificacion, 'A');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AltaResidente]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------
-- 2️⃣ Alta Residente
-----------------------------
CREATE PROCEDURE [dbo].[sp_AltaResidente]
    @Nombre NVARCHAR(100),
    @Apellidos NVARCHAR(150),
    @NumeroHabitacion NVARCHAR(10),
    @IdUsuarioCreacion INT
AS
BEGIN
    INSERT INTO dbo.Residente (Nombre, Apellidos, NumeroHabitacion, FechaEntrada, FechaModificacion, IdUsuarioModificacion, Estado)
    VALUES (@Nombre, @Apellidos, @NumeroHabitacion, SYSUTCDATETIME(), SYSUTCDATETIME(), @IdUsuarioCreacion, 'A');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrarPrescripcion]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------
-- 8️⃣ Borrar Prescripcion (lógico)
-----------------------------
CREATE PROCEDURE [dbo].[sp_BorrarPrescripcion]
    @IdPrescripcion INT,
    @IdUsuarioModificacion INT
AS
BEGIN
    UPDATE dbo.Prescripcion
    SET Estado = 'I',
        FechaModificacion = SYSUTCDATETIME(),
        IdUsuarioModificacion = @IdUsuarioModificacion
    WHERE IdPrescripcion = @IdPrescripcion;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrarResidente]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BorrarResidente]
    @IdResidente INT,
    @IdUsuarioModificacion INT
AS
BEGIN
    SET NOCOUNT ON;

    
    IF NOT EXISTS(SELECT 1 FROM dbo.Residente WHERE IdResidente = @IdResidente)
    BEGIN
        RETURN -1; -- 
    END;

    
    IF EXISTS(SELECT 1 FROM dbo.Prescripcion WHERE IdResidente = @IdResidente AND Estado = 'A')
    BEGIN
        UPDATE dbo.Residente
        SET Estado = 'I',
            FechaSalida = SYSUTCDATETIME(),
            FechaModificacion = SYSUTCDATETIME(),
            IdUsuarioModificacion = @IdUsuarioModificacion
        WHERE IdResidente = @IdResidente;

        RETURN 1; 
    END
    ELSE
    BEGIN
        
        DELETE FROM dbo.Residente WHERE IdResidente = @IdResidente;
        RETURN 2;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarPrescripcionPorResidente]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_BuscarPrescripcionPorResidente]
    @NombreResidente NVARCHAR(100),
    @Estado NVARCHAR(10)
AS
BEGIN
    SELECT 
        r.IdResidente,
        r.Nombre,
        r.Apellidos,
        r.NumeroHabitacion,
        r.FechaEntrada,
        r.FechaSalida,
        r.MotivoSalida,
        r.FechaAlta AS FechaAltaResidente,
        r.FechaModificacion AS FechaModificacionResidente,
        r.IdUsuarioModificacion AS IdUsuarioResidente,
        r.Estado AS EstadoResidente,
        p.IdPrescripcion,
        p.IdResidente AS IdResidentePrescripcion,
        p.NombreMedicamento,
        p.Laboratorio,
        p.Pautas,
        p.Dosis,
        p.Frecuencia,
        p.FechaAlta AS FechaAltaPrescripcion,
        p.FechaModificacion AS FechaModificacionPrescripcion,
        p.IdUsuarioModificacion AS IdUsuarioPrescripcion,
        p.Estado AS EstadoPrescripcion
    FROM Prescripcion p
    INNER JOIN Residente r ON p.IdResidente = r.IdResidente
    WHERE r.Nombre LIKE '%' + @NombreResidente + '%'
      AND (@Estado = 'Todos' OR
           ( @Estado = 'A' AND p.Estado = 'A') OR
           ( @Estado = 'I' AND p.Estado = 'I'))
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarResidente]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------
-- 5️⃣ Buscar Residente
-----------------------------
CREATE PROCEDURE [dbo].[sp_BuscarResidente]
    @Nombre NVARCHAR(100) = NULL,
    @Estado CHAR(1) = NULL
AS
BEGIN
    SELECT r.IdResidente, r.Nombre, r.Apellidos, r.NumeroHabitacion, r.FechaEntrada, r.FechaSalida, r.MotivoSalida, r.Estado
    FROM dbo.Residente r
    WHERE (@Nombre IS NULL OR r.Nombre LIKE '%' + @Nombre + '%')
      AND (@Estado IS NULL OR r.Estado = @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InformeResidentePrescripciones]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------
-- 🔟 Informe Residente + Prescripciones
-----------------------------
CREATE PROCEDURE [dbo].[sp_InformeResidentePrescripciones]
    @IdResidente INT
AS
BEGIN
    SELECT r.Nombre, r.NumeroHabitacion, p.NombreMedicamento, p.Laboratorio, p.Pautas, p.Dosis, p.Frecuencia
    FROM dbo.Residente r
    LEFT JOIN dbo.Prescripcion p ON r.IdResidente = p.IdResidente
    WHERE r.IdResidente = @IdResidente AND r.Estado = 'A' AND p.Estado = 'A';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUsuario]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------
-- 1️⃣ Login Usuario
-----------------------------
CREATE PROCEDURE [dbo].[sp_LoginUsuario]
    @Alias NVARCHAR(50),
    @Clave NVARCHAR(50)
AS
BEGIN
    SELECT IdUsuario, Alias, IdRol, Nombre, Apellidos
    FROM dbo.Usuario
    WHERE Alias = @Alias AND Clave = @Clave AND Estado = 'A';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarPrescripcion]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------
-- 7️⃣ Modificar Prescripcion
-----------------------------
CREATE PROCEDURE [dbo].[sp_ModificarPrescripcion]
    @IdPrescripcion INT,
    @NombreMedicamento NVARCHAR(100),
    @Laboratorio NVARCHAR(100),
    @Pautas NVARCHAR(250),
    @Dosis NVARCHAR(50),
    @Frecuencia NVARCHAR(50),
    @IdUsuarioModificacion INT
AS
BEGIN
    UPDATE dbo.Prescripcion
    SET NombreMedicamento = @NombreMedicamento,
        Laboratorio = @Laboratorio,
        Pautas = @Pautas,
        Dosis = @Dosis,
        Frecuencia = @Frecuencia,
        FechaModificacion = SYSUTCDATETIME(),
        IdUsuarioModificacion = @IdUsuarioModificacion
    WHERE IdPrescripcion = @IdPrescripcion AND Estado = 'A';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarResidente]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------------------------
-- 3️⃣ Modificar Residente
-----------------------------
CREATE PROCEDURE [dbo].[sp_ModificarResidente]
    @IdResidente INT,
    @Nombre NVARCHAR(100),
    @Apellidos NVARCHAR(150),
    @NumeroHabitacion NVARCHAR(10),
    @IdUsuarioModificacion INT
AS
BEGIN
    UPDATE dbo.Residente
    SET Nombre = @Nombre,
        Apellidos = @Apellidos,
        NumeroHabitacion = @NumeroHabitacion,
        FechaModificacion = SYSUTCDATETIME(),
        IdUsuarioModificacion = @IdUsuarioModificacion
    WHERE IdResidente = @IdResidente AND Estado = 'A';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPrescripcionPorId]    Script Date: 06/01/2026 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerPrescripcionPorId]
    @IdPrescripcion INT
AS
BEGIN
    SELECT
        IdPrescripcion,
        IdResidente,
        NombreMedicamento,
        Laboratorio,
        Pautas,
        Dosis,
        Frecuencia,
        Estado
    FROM Prescripcion
    WHERE IdPrescripcion = @IdPrescripcion;
END;
GO
USE [master]
GO
