<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexion"
		connectionString="Data Source=BENDER\GONZALOCANO_2025;Initial Catalog=MedicamentosDB;Integrated Security=True;TrustServerCertificate=True;" />
		<!-- connectionString="Data Source=BENDER\GONZALOCANO_2025;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True" /> -->
	</connectionStrings>
</configuration>